@tailwind base;
@tailwind components;
@tailwind utilities;

/* global margin resetters */
body {
  padding: 14px 16px 14px;
  background-color: #353535;
}

/* Add smooth transitions for transform and opacity */
/* Add smooth transitions for transform and opacity */
.draggable {
  transition: transform 150ms ease, opacity 150ms ease;
}

/* Add a slight shadow to the dragging item */
.draggable.dragging {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Ensure the droppable container takes up the full width */
.droppable-container {
  display: flex;
  gap: 1px;
  padding: 1px;
}



/* modal task */